/* Password Toggle */
.password-wrapper {
    position: relative;
    display: block;
}

.password-toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0;
    line-height: 1;
    opacity: 0.6;
    transition: var(--transition);
}

.password-toggle:hover {
    opacity: 1;
}

.password-wrapper input {
    padding-right: 40px;
    /* Make space for the eye */
}